*

!.gitignore
!index.js

!docs/
!docs/variables'n'functions/
!docs/variables'n'functions/**

!package.json
!package-lock.json

!LICENSE
!README.md

!.github/
!.github/workflows/
!.github/workflows/release.yml
!wix/
!wix/yoryo.wxs